:root {
    --púrprl: #9e0e40;
  }



html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
}


#page {
    display: flex;
    height: 100%;
    width: 100%;
}

#parameters {
    height: 100%;
    width: 40%;
    background-color: var(--púrprl);
    flex-shrink: 0;
}

#game_window {
    width: 60%;
    flex-shrink: 0;
}

#parameters #main {
    height: 90%;
    width: 85%;
    background-color: black;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

}

#parameters ul {
    list-style-type: none;
    color: white;
    text-align: center;

    padding: 0;

    margin-top: 0;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

#parameters li {
    vertical-align: middle;
    display: inline-block;
    padding: 5%;
    height: 50%;
    font-family: 'Roboto Mono', monospace;
}

#parameters h2 {
    vertical-align: middle;
    margin: 0;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}

#parameters li:hover {
    cursor: pointer;
    color: rgb(215, 223, 226)
}
#parameters li:active {
    color: rgb(147, 177, 189)
}

#parameters hr{ 
    display: inline-block;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    width: 1px;
    height: 3rem;
    margin: 0;
    vertical-align:middle;
}

#main nav {
    height: 20%;
}


#objects, #scene{
    margin-left: 15%;
    font-family: 'Roboto Mono', monospace;
    height: 50%;
    overflow-y: scroll;
    height: 70%;

    /*no scroll bar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#objects::-webkit-scrollbar, #scene::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



h3 {
    color: white;
    font-size: 2rem;
    display: inline;
    vertical-align: middle;
}


h5 {
    color: white;
    display: inline;
    font-size: 1.3rem;
}
input {
    width: 20%;
    height: 1.3rem;
}

.chevron-down {
    vertical-align: middle;
    color: #ffffff; 
    display: inline-block;
    transform: rotate(-90deg);
}

.subsettings {
    margin-left: 5%;
}

.param_perso {
    margin-bottom: 1rem;
}




#canvas {
    margin: 0 auto;
    display: block;
    background-color: aqua;

}



#options {
    height: 30%;
    width: 100%;
    background-color: var(--púrprl);
    display: flex;
    text-align: center;
}

#options div {
    width: 30%;
    height: 70%;
    padding: 3%;
    display: inline-block;
}

#options div button {
    height: 100%;
    width: 100%;
    background-color: blue;
}



#options div button:hover {
    cursor: pointer;

}

#options div button img {
    height: 70%;
}

.title_menue:hover {
    cursor: pointer;
    color: grey;
}


#object_selected {
    height: 300px;
    width: 80%;
    border: 3px solid white;

}

#object_selected h3 {
    display: block;
    margin: 0px;
}

#select_title {
    text-align: center;
}


#select_obj_param button {
    height: 30px;
}
#select_obj_param button :hover {
    cursor: pointer;
}