:root {
    --púrprl: #9e0e40;
  }



html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
}


#page {
    display: flex;
    height: 100%;
}

#parameters {
    height: 100%;
    width: 40%;
    background-color: var(--púrprl);
    border-radius: 3px;

}

#parameters #main {
    height: 90%;
    width: 85%;
    background-color: black;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

}

#parameters ul {
    list-style-type: none;
    color: white;
    text-align: center;

    padding: 0;
    padding-top: 5%;
    margin-top: 0;
}

#parameters li {
    vertical-align:middle;
    display: inline-block;
    padding: 5%;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}

#parameters li:hover {
    cursor: pointer;
}
#parameters li:active {
    color: rgb(147, 177, 189)
}

#parameters hr{ 
    display: inline-block;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    width: 1px;
    height: 4rem;
    margin: 0;
    vertical-align:middle;
    
}

#canvas {
    margin: 0 auto;
    border: 1px black solid;
    display: block;
    background-color: aqua;

}


#options {
    height: 30%;
    width: 100%;
    background-color: var(--púrprl);
}